.logo {
    width: 100px;
    height: 50px;
}

.green-btn {
    color: white;
    background-color: #6C9E4F;
    width: 125px;
    height: 40px;
    border: none;
    border-radius: 30px;
}

.green-font {
    color: #6C9E4F
}

.orange-font {
    color: #D77456;
}

.linen-bg {
    background-color: #F2E6DD;
}

.card-icon {
    width: 50%;
}