.logo {
    width: 50px;
    height: 50px;
}

.green-btn {
    color: #6C9E4F;
    background-color: inherit;
    font-weight: bold;
    width: 125px;
    height: 40px;
    border: 2px solid #6C9E4F;
    border-radius: 30px;
}

.logout-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(245, 104, 96);
    font-weight: bold;
    width: 125px;
    height: 40px;
    border: 2px solid rgb(245, 104, 96);
    border-radius: 30px;
}

.logout-btn:hover {
    color: #FFFFFF;
    background-color: rgb(245, 104, 96);
    box-shadow: 0px 0px 10px rgb(245, 104, 96);
}

.green-btn:hover {
    color: #FFFFFF;
    background-color: #6C9E4F;
    box-shadow: 0px 0px 10px #6C9E4F;
}

.signup-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #6C9E4F;
    font-weight: bold;
    width: 125px;
    height: 40px;
    border: 2px solid #6C9E4F;
    border-radius: 30px;
}

.signup-btn:hover {
    color: #FFFFFF;
    background-color: #6C9E4F;
    box-shadow: 0px 0px 10px #6C9E4F;
}

.green-font {
    color: #6C9E4F
}

.orange-font {
    color: #D77456;
}

.links {
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

.links:hover {
    color: #6C9E4F;
    text-decoration: underline;
}

.linen-bg {
    background-color: #F2E6DD;
}

.box-shadow {
    box-shadow: 20px 20px #D77456;
}

.gradient-bg {
    background: linear-gradient(45deg, #6C9E4F 25%, #B5E44D 75%);
    color: white;
    text-align: center;
}

#footer-section hr {
    border: 5px solid #6C9E4F;
}

#footer-section p {
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 15px;
}