.logo {
    width: 50px;
    height: 50px;
}

.green-btn {
    color: #6C9E4F;
    background-color: inherit;
    font-weight: bold;
    width: 125px;
    height: 40px;
    width:100%;
    border: 2px solid #6C9E4F;
    border-radius: 30px;
}

.green-btn:hover {
    color: #FFFFFF;
    background-color: #6C9E4F;
    box-shadow: 0px 0px 10px #6C9E4F;
}

.logout-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(245, 104, 96);
    font-weight: bold;
    width: 125px;
    height: 40px;
    border: 2px solid rgb(245, 104, 96);
    border-radius: 30px;
}

.logout-btn:hover {
    color: #FFFFFF;
    background-color: rgb(245, 104, 96);
    box-shadow: 0px 0px 10px rgb(245, 104, 96);
}

.green-font {
    color: #6C9E4F
}

.links {
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

.links:hover {
    color: #6C9E4F;
    text-decoration: underline;
}

#footer-section hr {
    border: 5px solid #6C9E4F;
}

#footer-section p {
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 15px;
    min-width: 100%;
}