{% extends "base.html" %}

{% block content %}

<!--hero section-->
<div class="container-lg mb-5">
    <div class="row">
        <div class="col-lg-6 py-5 px-5 linen-bg">
            <h1 class="hero-header mb-5 green-font">Lorem, ipsum dolor.</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit, sint dolores
                aperiam ducimus cumque eos soluta vitae porro ad maiores quisquam nobis facilis quibusdam!
                Laboriosam expedita repellat, quos id voluptate voluptatum esse? Ab tenetur facere recusandae
                explicabo repellat! Quo, repellendus!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum deserunt, esse
                voluptate amet nihil sequi, quae eius distinctio velit vel laudantium cupiditate repudiandae
                aliquid praesentium laborum similique animi saepe culpa ipsam eligendi, repellat veniam? Nulla
                laboriosam deserunt perferendis dolorum eum.</p>
            <button class="green-btn mt-3">Learn More</button>
        </div>
        <div class="col-lg-6">
            <img src="{{ url_for('static', filename='/images/hero-img.jpg') }}" class="img-fluid"
                alt="https://www.freepik.com/free-vector/food-nutritional-quality-illustration_18611142.htm#query=meal%20plan&position=31&from_view=search&track=robertav1">
        </div>
    </div>
</div>


<!--cards section-->
<div class="container-sm">
    <div class="text-center mb-3 green-font">
        <h2>Lorem, ipsum</h2>
    </div>
    <div class="row justify-content-center mb-5 g-3">
        <div class="col-md">
            <div class="card border card-shadow">
                <div class="card-body">
                    <div class="card-title text-center orange-font">
                        <h3>Recipes</h3>
                        <img src="{{ url_for('static', filename='/images/recipes-icon.png') }}" alt="https://www.flaticon.com/free-icons/recipe"
                            class="my-3 card-icon">
                    </div>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, magni nam
                        possimus voluptatum illo iusto asperiores omnis, animi, eligendi fuga doloribus odit ea
                        veniam id quod? Dicta natus eligendi mollitia?</p>
                </div>
            </div>
        </div>

        <div class="col-md">
            <div class="card border card-shadow">
                <div class="card-body">
                    <div class="card-title text-center orange-font">
                        <h3>Ingredients</h3>
                        <img src="{{ url_for('static', filename='/images/ingredients-icon.png') }}" alt="https://www.flaticon.com/free-icons/harvest"
                            class="my-3 card-icon">
                    </div>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, magni nam
                        possimus voluptatum illo iusto asperiores omnis, animi, eligendi fuga doloribus odit ea
                        veniam id quod? Dicta natus eligendi mollitia?</p>
                </div>
            </div>
        </div>

        <div class="col-md">
            <div class="card border card-shadow">
                <div class="card-body">
                    <div class="card-title text-center orange-font">
                        <h3>Meal Planner</h3>
                        <img src="{{ url_for('static', filename='/images/mealplan-icon.png') }}" alt="https://www.flaticon.com/free-icons/healthy-food"
                            class="my-3 card-icon">
                    </div>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, magni nam
                        possimus voluptatum illo iusto asperiores omnis, animi, eligendi fuga doloribus odit ea
                        veniam id quod? Dicta natus eligendi mollitia?</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!--articles section-->
<div class="container-sm mb-5" id="articles-section">
    <div class="text-center mb-3 green-font">
        <h2>Lorem, ipsum</h2>
    </div>
    <div class="card mb-3 card-shadow">
        <div class="row g-0">
            <div class="col-lg-4 col-md-6">
                <img src="{{ url_for('static', filename='/images/healthysnacks.jpg') }}"
                    alt="https://www.freepik.com/free-photo/high-angle-view-healthy-breakfast_2667092.htm#query=healthy%20snacks&position=9&from_view=search&track=robertav1"
                    class="img-fluid">
            </div>
            <div class="card-body col-lg-8 col-md-6 d-flex flex-column">
                <h5 class="card-title mb-3 orange-font">Article title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus
                    accusantium
                    eveniet eos similique cupiditate ut, illum harum sint est voluptatibus magnam reprehenderit
                    minus? Facilis deserunt iste nisi temporibus perspiciatis deleniti.</p>
                <a class="card-text mt-auto links">Link here</a>
            </div>
        </div>
    </div>

    <div class="card mb-3 card-shadow">
        <div class="row g-0">
            <div class="col-lg-4 col-md-6">
                <img src="{{ url_for('static', filename='/images/healthysnacks.jpg') }}"
                    alt="https://www.freepik.com/free-photo/high-angle-view-healthy-breakfast_2667092.htm#query=healthy%20snacks&position=9&from_view=search&track=robertav1"
                    class="img-fluid">
            </div>
            <div class="card-body col-lg-8 col-md-6 d-flex flex-column">
                <h5 class="card-title mb-3 orange-font">Article title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus
                    accusantium
                    eveniet eos similique cupiditate ut, illum harum sint est voluptatibus magnam reprehenderit
                    minus? Facilis deserunt iste nisi temporibus perspiciatis deleniti.</p>
                <a class="card-text mt-auto links">Link here</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
