{% extends "base.html" %}

{% block content %}

<!--mission & vision statements section-->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 py-5 gradient-bg">
            <h1 class="py-1">AvoCardio</h1>
        </div>
    </div>
</div>


<!--story section-->
<div class="container-sm">
    <div class="row mt-5 linen-bg box-shadow">
        <div class="col-xl-6 col-lg py-5 px-5">
            <h2 class="green-font mb-3">Our Story</h2>
            <p>Nice to meet you all! The four of us are students from San Jose State University (SJSU) who eagerly formed a team before the first day of the "Senior Design Project" course. During the initial stages, we decided to create some kind of web application because we all had experience with web development, whether from previous classes or internships. The next step is brainstorming ideas for the app. There were so many ideas being pitched and discarded until finally, we thought, "Why not create an all-in-one solution to simplify the path to a healthier lifestyle?" Senior design projects must address and solve some kind of issue in society, so our idea was perfect. And thus, AvoCardio was born.</p>
            <p>Our drive to develop a solution that is not only user-friendly but also impactful for society has been a powerful source of motivation for us. As we journeyed through creating AvoCardio, we applied our skills, delved into new technologies, and overcame numerous challenges along the way; lots of bugs and procrastinations :D. The image on the right was taken on December 8, 2023, where we showcased our project in an expo. We had lots of fun!</p>
        </div>
        <div class="col-xl-6 col-lg py-5 px-5 d-flex justify-content-center">
            <img class="img-fluid" src="../static/images/expo.jpeg" alt="2023 Fall Project Expo">
        </div>
    </div>
</div>


<!--meet our team section-->
<div class="container-sm">
    <div class="row">
        <div class="col-lg-12 mt-5 mb-3">
            <h2 class="text-center green-font">Meet our Team</h2>
        </div>
    </div>
    <div class="row row-cols-lg-4 row-cols-md-2 row-cols-1 g-3 mb-5">
        <!--Sarah-->
        <div class="col">
            <div class="card d-flex flex-column h-100">
                <img src="{{ url_for('static', filename='../static/images/PHP_SARAH.jpg') }}"
                    class="card-img-top img-fluid" alt="Sarah Fong">
                <div class="card-body">
                    <h5 class="card-title orange-font">Sarah Fong</h5>
                    <p class="card-text">Hi! I'm a Software Engineering student. I'm interested in backend development. Some of my hobbies include digital illustration & animating short films. Thanks for visiting our website!! :D
                    </p>
                </div>
            </div>
        </div>

        <!--Justin-->
        <div class="col">
            <div class="card d-flex flex-column h-100">
                <img src="{{ url_for('static', filename='../static/images/PFP_JUSTIN.png') }}"
                    class="card-img-top img-fluid" alt="Justin Goodman">
                <div class="card-body">
                    <h5 class="card-title orange-font">Justin Goodman</h5>
                    <p class="card-text">Yo! I'm a Software Engineering student. I have good experience with fullstack development. I enjoy golfing, gaming, and discovering delicious foods & drinks in my free time.</p>
                </div>
            </div>
        </div>

        <!--Thomas-->
        <div class="col">
            <div class="card d-flex flex-column h-100">
                <img src="{{ url_for('static', filename='../static/images/PFP_THOMAS.JPG') }}"
                    class="card-img-top img-fluid" alt="Thomas Ng">
                <div class="card-body">
                    <h5 class="card-title orange-font">Thomas Ng</h5>
                    <p class="card-text">Hello, I'm a Computer Engineering student! Firmware and machine learning are some of the areas that fascinate me. I love gaming & working out.</p>
                </div>
            </div>
        </div>

        <!--Brian-->
        <div class="col">
            <div class="card d-flex flex-column h-100">
                <img src="{{ url_for('static', filename='../static/images/PFP_BRIAN.jpeg') }}"
                    class="card-img-top img-fluid" alt="Brian Nguyen">
                <div class="card-body">
                    <h5 class="card-title orange-font">Brian Nguyen</h5>
                    <p class="card-text">Heyo, I'm a Software Engineering student. I love reading manga & Batman comics, gaming, and listening to death metal. Currently, I am delving into the realm of software quality assurance & test automation. Also, I oversaw the frontend development of this web app!</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}