{% extends "base.html" %}

{% block content %}

<!--popup message when sign up / log in is successful or not-->
{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    {{ message }}
</div>
{% endfor %}

<!--hero section-->
<div class="container-lg mb-5">
    <div class="row">
        <div class="col-lg-7 py-5 px-5 linen-bg">
            <h1 class="mb-5 green-font">Welcome to Avocardio!</h1>
            <p>
                This application is designed to help all people be able to make healthy and nutritious meals based on
                their own diet
                or restrictions! Physical health and mental health are so closely tied together that we want to make
                sure that people
                can eat healthy!
            </p>
            <br>
            {% if current_user.is_authenticated %}
            {% else %}
            <a class="signup-btn" href="{{url_for('signup')}}">Sign Up Now</a>
            {% endif %}

        </div>
        <div class="col-lg-5">
            <img src="{{ url_for('static', filename='/images/hero-img.jpg') }}" class="img-fluid" alt="hero image">
        </div>
    </div>
</div>


<!--cards section-->
<div class="container-sm">
    <div class="text-center my-5 green-font">
        <h2>How we help!</h2>
    </div>
    <div class="row justify-content-center g-3">
        <div class="col-md">
            <div class="card border card-shadow">
                <div class="card-body">
                    <div class="card-title text-center orange-font">
                        <h3>Recipes</h3>
                        <img src="{{ url_for('static', filename='/images/recipes-icon.png') }}" alt="recipes icon"
                            class="my-3 card-icon">
                    </div>
                    <p class="card-text">This application will provide you the recipes that maximize the most out of
                        your groceries!
                        There are no limits to what you can cook with the help of our application! We're looking to help
                        better serve you!
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md">
            <div class="card border card-shadow">
                <div class="card-body">
                    <div class="card-title text-center orange-font">
                        <h3>Ingredients</h3>
                        <img src="{{ url_for('static', filename='/images/ingredients-icon.png') }}"
                            alt="ingredients icon" class="my-3 card-icon">
                    </div>
                    <p class="card-text">Any ingredients you have, we can work with! No matter your budget, no matter
                        what culture you're from,
                        our application can and will help you develop healthy eating habits from the resources you have
                        access to!</p>
                </div>
            </div>
        </div>

        <div class="col-md">
            <div class="card border card-shadow">
                <div class="card-body">
                    <div class="card-title text-center orange-font">
                        <h3>Meal Planner</h3>
                        <img src="{{ url_for('static', filename='/images/mealplan-icon.png') }}" alt="meal plan icon"
                            class="my-3 card-icon">
                    </div>
                    <p class="card-text">Don't have time to plan out meals for the week?
                        We can provide a plan that suits everyone with minimal effort on your part! Don't let your busy
                        schedule change how healthy you eat!</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!--articles section-->
<div class="container-sm mb-5" id="articles-section">
    <div class="text-center my-5 green-font">
        <h2>Lorem, ipsum</h2>
    </div>
    <div class="card mb-3 card-shadow">
        <div class="row g-0">
            <div class="col-lg-4 col-md-6">
                <img src="{{ url_for('static', filename='/images/healthysnacks.jpg') }}"
                    alt="healthy food article image" class="img-fluid">
            </div>
            <div class="card-body col-lg-8 col-md-6 d-flex flex-column">
                <h5 class="card-title mb-3 orange-font">Article title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus
                    accusantium
                    eveniet eos similique cupiditate ut, illum harum sint est voluptatibus magnam reprehenderit
                    minus? Facilis deserunt iste nisi temporibus perspiciatis deleniti.</p>
                <a class="card-text mt-auto links">Link here</a>
            </div>
        </div>
    </div>

    <div class="card card-shadow">
        <div class="row g-0">
            <div class="col-lg-4 col-md-6">
                <img src="{{ url_for('static', filename='/images/exercise.jpg') }}" alt="exercise article image"
                    class="img-fluid">
            </div>
            <div class="card-body col-lg-8 col-md-6 d-flex flex-column">
                <h5 class="card-title mb-3 orange-font">Article title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus
                    accusantium
                    eveniet eos similique cupiditate ut, illum harum sint est voluptatibus magnam reprehenderit
                    minus? Facilis deserunt iste nisi temporibus perspiciatis deleniti.</p>
                <a class="card-text mt-auto links">Link here</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}