{% extends "base.html" %}

{% block content %}

<!--popup message when sign up / log in is successful or not-->
{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    {{ message }}
</div>
{% endfor %}

<!--hero section-->
<div class="container-lg" id="hero-section">
    <div class="row">
        <div class="col-lg-7 py-5 px-5 linen-bg">
            <h3>AvoCardio<span class="green-font">.</span></h3>
            <h1 class="my-5 green-font">Elevate your wellness journey now!</h1>
            <p>
                Discover new recipes, plan your meals, create shopping lists, and track calories
                burned from various workouts - AvoCardio offers an all-in-one solution for all your health and fitness needs!
            </p>
            {% if current_user.is_authenticated %}
            {% else %}
            <div class="row mt-5">
                <a class="signup-btn me-3" href="{{url_for('signup')}}">Sign Up</a>
                <a class="signup-btn" href="{{url_for('login')}}">Log In</a>
            </div>
            {% endif %}
        </div>
        <div class="col-lg-5">
            <img src="{{ url_for('static', filename='/images/hero-img.jpg') }}" class="img-fluid" alt="hero image">
        </div>
    </div>
</div>


<!--cards section-->
<div class="container-sm mb-5">
    <div class="text-center my-5 green-font">
        <h2>Explore our Features</h2>
    </div>
    <div class="row justify-content-center g-3">
        <!--recipes card-->
        <div class="col-lg col-md-6">
            <div class="card card-shadow d-flex flex-column h-100">
                <div class="card-body">
                    <div class="card-title text-center orange-font">
                        <h3>Recipes</h3>
                        <img src="{{ url_for('static', filename='/images/recipes-icon.png') }}" alt="recipes icon"
                            class="my-3 card-icon">
                    </div>
                    <p class="card-text">Discover detailed recipes easily from a large selection. Each recipe provides a
                        summary with nutrition information, a concise list of ingredients needed, and comprehensive
                        step-by-step
                        instructions.</p>
                </div>
            </div>
        </div>

        <!--meal planner card-->
        <div class="col-lg col-md-6">
            <div class="card card-shadow d-flex flex-column h-100">
                <div class="card-body">
                    <div class="card-title text-center orange-font">
                        <h3>Meal Planner</h3>
                        <img src="{{ url_for('static', filename='/images/mealplan-icon.png') }}" alt="meal plan icon"
                            class="my-3 card-icon">
                    </div>
                    <p class="card-text">Quickly save your favorite recipes in your meal planner with just one click.
                        While viewing a recipe, click on the "Save Recipe" button to add it into your meal planner.</p>
                </div>
            </div>
        </div>

        <!--shopping list card-->
        <div class="col-lg col-md-6">
            <div class="card card-shadow d-flex flex-column h-100">
                <div class="card-body">
                    <div class="card-title text-center orange-font">
                        <h3>Shopping List</h3>
                        <img src="{{ url_for('static', filename='/images/shoppinglist-icon.png') }}"
                            alt="shopping list icon" class="my-3 card-icon">
                    </div>
                    <p class="card-text">Once you save a recipe, it will automatically add all the essential ingredients
                        for that recipe into your shopping list effortlessly. Feel free to update the ingredient's name
                        and quantity, and the recipe's name to fit your needs.</p>
                </div>
            </div>
        </div>

        <!--workouts card-->
        <div class="col-lg col-md-6">
            <div class="card card-shadow d-flex flex-column h-100">
                <div class="card-body">
                    <div class="card-title text-center orange-font">
                        <h3>Workouts</h3>
                        <img src="{{ url_for('static', filename='/images/workouts-icon.png') }}" alt="workouts icon"
                            class="my-3 card-icon">
                    </div>
                    <p class="card-text">Instantly calculate the calories burned during your workouts from various
                        activities based on the duration and your body weight.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}