{% extends "base.html" %}

{% block content %}
<div class="container-sm">
    <div class="text-center my-5 green-font">
        <h3>Here is your shopping list!</h3>
    </div>
    <!-- Content area for the shopping cart -->
    <div>
        {% if shoplist|length < 1 %}
        <div class="d-flex pb-3 justify-content-center">
            <a class="btn btn-success" href="{{url_for('addItem')}}">Add an item!</a>
        </div>
        <div class="container pb-5">
            <div class = "card w-50" style = "margin: auto; padding: 10px;">
                <h4 style="text-align: center">You currently have no items on your list!</h4>
            </div>
        </div>
        {% else %}
            <div class="d-flex pb-3 justify-content-center">
                <a class="btn btn-success" href="{{url_for('addItem')}}">Add an item!</a>
            </div>
            <div class="container pb-5">
            <div class="row g-3">
                {% for item in shoplist %}
                <div class="col col-md-3 col-sm-12"> 
                    <div class="card d-flex flex-column h-100" >
                        <h5 class="card-header">{{ item.name }}</h5>
                        <div class="card-body">
                            <p class="card-text">Quantity: {{ item.quantity }}</p>
                            <!-- <a href="{{ url_for('updateQuan', itemnumber=item.item_id) }}" class="btn btn-primary">Update quantity</a> -->
                            <a href="{{ url_for('deleteItem', itemnumber=item.item_id) }}" class="btn btn-primary">Delete</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}
