{% extends "base.html" %}

{% block content %}
<div class="container-sm">
    <div class="text-center my-5 green-font">
        <h3>Shopping List</h3>
    </div>
    <!-- Content area for the shopping cart -->
    <div>
        {% if shoplist|length < 1 %} <div class="d-flex mb-3 justify-content-center">
            <a class="btn btn-success" href="{{url_for('addItem')}}">Add item</a>
    </div>
</div>
<div class="row mb-5 d-flex justify-content-center">
    <div class="card col-7 py-2 text-center">
        <h4>You currently have no items on your list!</h4>
    </div>
    {% else %}
    <div class="d-flex justify-content-center">
        <a class="btn btn-success" href="{{url_for('addItem')}}">Add item</a>
    </div>

    <div class="row mb-5 mt-2 g-3">
        {% for item in shoplist %}
        <div class="col-md-3 col-sm-12">
            <div class="card">
                <h5 class="card-header">{{ item.name }}</h5>
                <div class="card-body">
                    <p class="card-text">Quantity: {{ item.quantity }}</p>
                    {% if item.recipe_name %}
                    <p class="card-text">Recipe: {{ item.recipe_name }}</p>
                    {% endif %}
                    <a href="{{ url_for('updateQuan', itemnumber=item.item_id) }}" class="btn btn-primary">Update</a>
                    <a href="{{ url_for('deleteItem', itemnumber=item.item_id) }}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% endif %}
</div>
</div>

{% endblock %}