<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/authentication.css') }}">
    <title>AvoCardio: Sign Up</title>
</head>

<body>
    <!--popup message when sign up / log in is successful or not-->
    {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        {{ message }}
    </div>
    {% endfor %}

    <!--signup section-->
    <div class="container-fluid">
        <div class="row d-flex justify-content-center align-items-center vh-100">
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8">
                <div class="card card-shadow py-5 px-5">
                    <a href="{{ url_for('index')}}">
                        <img src="{{ url_for('static', filename='/images/logo.png') }}"
                            class="card-img-top logo d-block mx-auto mb-4" alt="AvoCardio logo">
                    </a>
                    <h3 class="text-center green-font">Sign Up</h3>
                    <form method="POST">
                        {{ form.hidden_tag() }}
                        {{ form.email.label }}
                        {{ form.email(class="col-12 mb-3 p-2") }}
                        {{ form.username.label }}
                        {{ form.username(class="col-12 mb-3 p-2") }}
                        {{ form.password.label }}
                        {{ form.password(class="col-12 mb-3 p-2") }}
                        {{ form.signup(class="green-btn my-2") }}
                        <hr>
                    </form>
                    <p>Already have an account? <a href="{{ url_for('login') }}" class="link my-2">Click Here</a></p>
                    <a class='btn btn-outline-primary' href="{{ url_for('index') }}">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
        <!--JS bundle to make certain Bootstrap components work-->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>