<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ recipe.title }}</title>
    <link rel="stylesheet" href="../static/css/view_recipe.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
    {% block content %}
    <!--popup message when saved recipe is successful or not-->
    {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        {{ message }}
    </div>
    {% endfor %}

    <div class="container-fluid my-3">
        <div class="row d-flex justify-content-center">
            <div class="col-md-7">
                <div class="card border card-shadow p-3">
                    <div class="card-body">

                        <!--Link to go back to search-->
                        <a class="link" href="{{ url_for('getRecipes') }}">Back to Search</a>
                        <br>

                        <!--Recipe Title-->
                        <h1 class="text-center green-font mt-2">{{ recipe.title }}</h1>

                        <!--Recipe Image-->
                        {% if recipe.image %}
                        <img class="img-fluid mx-auto d-block my-3" src="{{ recipe.image }}" alt="{{ recipe.title }}">
                        {% endif %}

                        <!--Extra info Section-->
                        <p class="text-center mb-0">Source: <a class="link" href="{{ recipe.sourceUrl }}">{{ recipe.sourceUrl }}</a></p>
                        <p class="text-center mb-0">Servings: {{ recipe.servings }} </p>
                        <p class="text-center">Ready Time: {{ recipe.readyInMinutes }} mins</p>

                        <!--Save Recipe Button-->
                        <div class="text-center mt-3">
                            <form method="POST">
                                {{ form.hidden_tag() }}
                                {{ form.save(class="green-btn p-2") }}
                                <hr>
                            </form>
                        </div>

                        <!--Summary Section-->
                        <h2 class="orange-font">Summary</h2>
                        {% if recipe.summary %}
                        <p>{{ recipe.summary|striptags }}</p>
                        {% else %}
                        <p>No summary for this recipe found.</p>
                        {% endif %}

                        <!--Ingredients Section-->
                        <h2 class="orange-font">Ingredients</h2>
                        <ul>
                            {% if recipe.extendedIngredients %}
                            {% for ingredient in recipe.extendedIngredients %}
                            <li>{{ ingredient.original }}</li>
                            {% endfor %}
                            {% else %}
                            <p>No Ingredients for this recipe found.</p>
                            {% endif %}
                        </ul>

                        <!--Instructions Section-->
                        <h2 class="orange-font">Instructions</h2>
                        <ol>
                            {% if recipe.analyzedInstructions %}
                            {% for instructions in recipe.analyzedInstructions %}
                            {% for step in instructions.steps %}
                            <li>{{ step.step }}</li>
                            {% endfor %}
                            {% endfor %}
                            {% else %}
                            <p>No instructions found for this recipe.</p>
                            {% endif %}
                        </ol>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!--JS bundle to make certain Bootstrap components work-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>
{% endblock %}

</html>