{% extends "base.html" %}

{% block content %}
<div class="container-sm">
    <div class="text-center my-5 green-font">
        <h3>Calories Burned from Workouts</h3>
    </div>

    <div class="container-fluid">
        <div class="row my-5 justify-content-around align-items-start gy-3">
            <div class="card col-xl-4 col-lg-5 col-md-6 col-sm-10 py-5 px-5">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    {{ form.activity.label }}
                    {{ form.activity(class="col-12 mb-3 p-2") }}
                    {{ form.duration.label }}
                    {{ form.duration(class="col-12 mb-3 p-2") }}
                    {{ form.weight.label }}
                    {{ form.weight(class="col-12 mb-3 p-2") }}
                    {{ form.submit(class="green-btn my-2") }}
                    <hr>
                </form>
            </div>
            {% if result %}
            <div class="card col-xl-4 col-lg-5 col-md-6 col-sm-10 p-5">
                {% for data in result %}
                <p><span style="font-weight: bold;">Activity:</span> {{ data.name }} </p>
                <p><span style="font-weight: bold;">Calories burned per hour:</span> {{ data.calories_per_hour }} </p>
                <p><span style="font-weight: bold;">Duration (mins):</span> {{ data.duration_minutes }} </p>
                <p><span style="font-weight: bold;">Total calories burned:</span> {{ data.total_calories }} </p>
                <hr>
                {% endfor %}
            </div>
            {% else %}
            <div class="card col-xl-4 col-lg-5 col-md-6 col-sm-10 p-5">
                <p class="text-center"> No Workout Activity Found</p>
            </div>
            {% endif %}
        </div>

    </div>
</div>

{% endblock %}